.main-section {
    position: relative;
    .swiper {
        .swipper-scrollbar__body {
            position: relative;
            &-arrows {
                position: absolute;
                right: 130px;
                bottom: 40px;
                .main-swiper__next {
                    border-radius: 0;
                    background: transparent;
                    box-shadow: none;
                    right: -100px;
                    &::after {
                        color: #fff;
                        font-size: 30px;
                    }
                }
                .main-swiper__prev {
                    @media (max-width: $breakpoint480) {
                        left: -10px;
                    }
                    @media (max-width: $breakpoint768) {
                        left: -5px;
                    }
                    &::after {
                    color: #fff;

                        font-size: 30px;
                    }
                    border-radius: 0;
                    background: transparent;
                    box-shadow: none;
                    left: -30px;
                }
            }
        }
        &-buttons__bottom {
            position: relative;
            padding-right: 0;
            .append-buttons {
                max-width: 1090px;
                position: absolute;
                bottom: 50px;
                z-index: 2;
                width: 100%;
                &__body {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 15px;
                    @media (max-width: $breakpoint1025) {
                        justify-content: space-around;
                        padding: 0 15px;
                    }
                    @media (max-width: $breakpoint768) {
                        flex-wrap: wrap;
                        gap: 10px 0;
                    }
                    @media (max-width: $breakpoint480) {
                        display: none;
                    }
                }
                &__text {
                    display: flex;
                    flex-direction: column;
                    color: #fff;
                    font-size: 18px;
                    margin-bottom: 20px;
                    span {
                        margin-top: 20px;
                        font-family: 'GalanoGrotesque-Bold', sans-serif;
                        color: #fff;
                        font-size: 24px;
                        max-width: 190px;
                    }
                    @media (max-width: $breakpoint768) {
                        width: 50%;
                    }
                }
            }
        }
        &-scrollbar {
            bottom: 40px;
            max-width: calc(100% - 200px);
            padding: 0;
            left: 44%;
            transform: translateX(-50%);
            background: #fff;
            &-drag {
                background: #000;
            }
            @media (max-width: $breakpoint768) {
                left: 40%;
            }
        }
        &-slide {
            object-fit: cover;
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 250px;
            padding-bottom: 240px;
            // margin-right: -15px;
            @media (max-width: $breakpoint480) {
                padding-top: 170px;
                padding-bottom: 120px;
                margin-right: 0;
                // max-width: 100%;
            }
        }
        &-container {
            @media (max-width: $breakpoint480) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-content: center;
                align-items: center;
                gap: 10px;
            }
        }
        &-video {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            position: relative;
            &__img {
                border-radius: 50%;
                overflow: hidden;
                &::before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 40px;
                    top: 60px;
                    right: 65px;
                    border: 1px solid #ffffff;
                    background: inherit;
                    border-radius: 5px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 40px;
                    top: 60px;
                    right: 85px;
                    border: 1px solid #ffffff;
                    background: inherit;
                    border-radius: 5px;
                }
            }
        }
        &-title {
            font-family: 'GalanoGrotesque-Semibold', sans-serif;
            font-size: 50px;
            color: #fff;
            padding-bottom: 30px;
            letter-spacing: 3px;
        }
        &-text {
            max-width: 550px;
            color: #fff;
            letter-spacing: 2px;
            font-size: 18px;
            line-height: 25px;
            padding-bottom: 80px;
        }
        &-btn {
            width: 255px;
            height: 50px;
            text-align: center;
            margin-bottom: 10px;
        }
    }
}