.category-section {
    margin-top: 25px;
    &__container {
        max-width: 1046px;
        padding: 0;
    }
}

.category-body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    &__card {
        grid-template-columns: repeat(4, 1fr);
        width: 260px;
        padding-top: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__retail {
        background-image: url('../img/category1.jpg');
    }
    &__logistics {
        background-image: url('../img/category2.jpg');
    }
    &__horeca {
        background-image: url('../img/category3.jpg');
    }
    &__life {
        background-image: url('../img/category4.jpg');
    }
    &__title {
        font-family: "GalanoGrotesque-Medium", sans-serif;
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        padding-left: 15px;
        padding-bottom: 10px;
    }
    &__arrow {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
}

.category-counter {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 25px;
    &__cards {
        display: flex;
        align-items: center;
        width: 260px;
        height: 50px;
        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            img {
                width: 29px;
                height: 33px;
            }
        }
        .cards__counter {
            position: relative;
            .counter {
                display: flex;
                align-items: flex-end;
                &__number {
                    font-size: 30px;
                    padding-right: 10px;
                    color: #454545;
                }
                &__text {
                    font-size: 16px;
                    color: #454545;
                    text-transform: uppercase;
                }
            }
            &-text {
                font-size: 16px;
                color: #454545;
            }
        }
    }
}