.horeca-section {
    margin-top: 100px;
    margin-bottom: 100px;
    .swiper {
        margin-top: 100px;
        width: 100%;
        height: 100%;
        &-text__body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            &-title {
                font-family: 'GalanoGrotesque-Light', sans-serif;
                font-size: 36px;
                span {
                    font-family: 'GalanoGrotesque-Bold', sans-serif;
                }
            }
            .horeca-more {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                border-radius: 25px;
                background-color: #fff;
                color: #000;
                font-size: 18px;
                padding: 15px 20px;
                border: 1px solid #000;
                box-shadow: rgba(0, 0, 0, .25) 0 10px 25px;
            }
        }
        .swiper-wrapper {
            .swiper-slide {
                max-width: 320px;
                height: 360px;
                img {
                    display: block;
                    width: 100%;
                    height: 260px;
                    object-fit: cover;
                }
                &__img1 {
                    background-image: url(../../img/horeca-solution1.jpg);
                    background-size: 320px 320px;
                    background-repeat: no-repeat;
                    object-fit: cover;
                }
                &__img2 {
                    background-image: url(../../img/horeca-solution2.jpg);
                    background-size: 320px 320px;
                    background-repeat: no-repeat;
                    object-fit: cover;
                }
                &__img3 {
                    background-image: url(../../img/horeca-solution3.jpg);
                    background-size: 320px 320px;
                    background-repeat: no-repeat;
                    object-fit: cover;
                }
                &__text {
                    opacity: 0.8;
                    margin-top: 222px;
                    text-align: center;
                    font-size: 16px;
                    color: #000;
                    background-color: #dddbd9;
                    padding: 20px 0;
                }
                &__span {
                    font-family: 'GalanoGrotesque-Bold', sans-serif;
                }
            }
        }
        &-scrollbar {
            bottom: 10px;
            left: 0;
            width: 100%;
        }
        &-scrollbar-drag-horeca {
            background: #373d91;
        }
        .swiper-button-next {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #fff;
            box-shadow: rgba(0, 0, 0, .25) 0 10px 20px 0;
            &::after {
                color: #000;
                font-size: 30px;
            }
        }
        .swiper-button-prev {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #fff;
            box-shadow: rgba(0, 0, 0, .25) 0 10px 20px 0;
            &::after {
                color: #000;
                font-size: 30px;
            }
        }
    }
}

.horeca {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 7vw);
    gap: 15px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__text {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #373d91;
        font-family: 'GalanoGrotesque-Bold', sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        // padding: 0 100px;
        color: #fff;
        &--title {
            font-family: 'GalanoGrotesque-Light', sans-serif;
            font-size: 50px;
            color: #fff;
        }
    }
    &-img {
        position: relative;
    }
    &-img1 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    &-img2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 6;
    }
    &-img3 {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 6;
    }
    &-img4 {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 6;
        &__descr {
            position: absolute;
            display: block;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            bottom: 115px;
            right: 80px;
            background: #ffffff50;
            transition: .3s ease-in-out;
            border-color: #fff;
            .horeca-img__body {
                position: relative;
                display: none;
                right: 150px;
                width: 149px;
                background: #ffffff;
                &--info {
                    position: relative;
                    padding: 10px;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 1px;
                        border: 1px solid #d4d4d4;
                        height: 80%;
                        top: 10px;
                        right: 30px;
                    }
                    &::after {
                        position: absolute;
                        content: '>';
                        color: #333232;
                        font-size: 30px;
                        top: 30%;
                        right: 5px;
                    }
                }
                &--info-title {
                    font-size: 16px;
                    color: #333232;
                    max-width: 100px;
                }
                &--code {
                    margin-top: 20px;
                    margin-bottom: 5px;
                    font-size: 16px;
                    color: #333232;
                    span {
                        font-family: 'GalanoGrotesque-Bold', sans-serif;
                    }
                }
                &--btn {
                    a {
                        padding: 0;
                        display: block;
                        width: 100%;
                        font-family: 'GalanoGrotesque-Medium', sans-serif;
                        font-size: 14px;
                        color: #000;
                        background-color: #e8e8e8;
                        text-align: center;
                        padding: 15px 10px;
                    }
                }
            }
            &::after {
                position: absolute;
                display: block;
                content: '';
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: #fff;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: .3s ease-in-out;
            }
            &:hover {
                border: 1px solid #fff;
                &::after {
                    width: 10px;
                    height: 10px;
                }
                .horeca-img__body {
                    display: block;
                }
            }
        }
    }
}