.main-section {
    position: relative;
    transform: translateY(-80px);
    .swiper {
        .swipper-scrollbar__body {
            position: relative;
            margin-right: 361px;
            &-arrows {
                position: absolute;
                right: 110px;
                bottom: 40px;
                .swiper-button-next {
                    &::after {
                        font-size: 30px;
                    }
                    color: #fff;
                    right: -100px;
                }
                .swiper-button-prev {
                    &::after {
                        font-size: 30px;
                    }
                    color: #fff;
                }
            }
        }
        &-buttons__bottom {
            position: relative;
            padding-right: 0;
            padding-left: 100px;
            .append-buttons {
                max-width: 1000px;
                position: absolute;
                bottom: 50px;
                z-index: 2;
                width: 100%;
                &__body {
                    display: flex;
                    justify-content: space-between;
                }
                &__text {
                    display: flex;
                    flex-direction: column;
                    color: #fff;
                    font-size: 18px;
                    margin-bottom: 20px;
                    span {
                        margin-top: 20px;
                        font-family: 'GalanoGrotesque-Bold', sans-serif;
                        color: #fff;
                        font-size: 24px;
                        max-width: 190px;
                    }
                }
            }
        }
        &-scrollbar {
            bottom: 40px;
            max-width: 1000px;
            padding: 0;
            left: 50%;
            transform: translateX(-50%);
            background: #fff;
            &-drag {
                background: #000;
            }
        }
        &-slide {
            object-fit: cover;
            background-repeat: no-repeat;
            padding-top: 250px;
            padding-bottom: 240px;
        }
        &-container {
            padding-right: 0;
            padding-left: 100px;
        }
        &-video {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            position: relative;
            &__img {
                border-radius: 50%;
                overflow: hidden;
                &::before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 40px;
                    top: 60px;
                    right: 65px;
                    border: 1px solid #ffffff;
                    background: inherit;
                    border-radius: 5px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 40px;
                    top: 60px;
                    right: 85px;
                    border: 1px solid #ffffff;
                    background: inherit;
                    border-radius: 5px;
                }
                img {}
            }
        }
        &-title {
            font-family: 'GalanoGrotesque-Semibold', sans-serif;
            font-size: 50px;
            color: #fff;
            padding-bottom: 30px;
            letter-spacing: 3px;
        }
        &-text {
            max-width: 550px;
            color: #fff;
            letter-spacing: 2px;
            font-size: 18px;
            line-height: 25px;
            padding-bottom: 80px;
        }
        &-btn {
            width: 255px;
            height: 50px;
            text-align: center;
            margin-bottom: 10px;
        }
    }
}