.product-cards {
    margin-top: 50px;
    &__title {
        margin-bottom: 15px;
        font-family: 'GalanoGrotesque-Light', sans-serif;
        font-size: 36px;
        color: #000;
        &-span {
            font-family: 'GalanoGrotesque-Bold', sans-serif;
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        @media (max-width: $breakpoint1025) {
            justify-content: center;
            align-items: center;
            gap: 35px;
        }
    }
}

.product-card {
    width: calc(25% - 45px);
    @media (max-width: $breakpoint1025) {
        width: 220px;
    }
    &__img {
        width: 100%;
        img {
            width: 100%;
        }
    }
    &__title {
        margin-top: 20px;
        font-family: 'GalanoGrotesque-Semibold', sans-serif;
        font-size: 16px;
    }
    &__descr {
        margin-top: 10px;
        width: 180px;
        font-size: 14px;
    }
    &__code {
        margin-top: 20px;
        &-title {
            font-size: 14px;
        }
        &-nr {
            font-family: 'GalanoGrotesque-Semibold', sans-serif;
            font-size: 14px;
        }
    }
    &__price {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-body {
            display: flex;
        }
        &-nr {
            font-family: 'GalanoGrotesque-Semibold', sans-serif;
            font-size: 30px;
        }
        &-currency {
            padding-left: 5px;
            font-family: 'GalanoGrotesque-Medium', sans-serif;
            font-size: 14px;
        }
        &-cart {
            width: 35px;
            height: 35px;
            display: flex;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            background: #f0f0f0;
            transition: background .3s ease-in-out;
            &:hover {
                background: #000;
                svg {
                    path {
                        transition: stroke .3s ease-in-out;
                        stroke: #fff
                    }
                }
            }
            svg {
                width: 20px;
                height: 20px;
                transition: stroke .3s ease-in-out;
            }
        }
        
    }
    &__offer{
        margin-top: 20px;
        border-radius: 20px;
        background: #f0f0f0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #000;
        transition: .3s ease-in-out;
        &:hover{
            background: #000;
            color: #fff;
            .product-card__price-cart{
                background: #000;
                svg {
                    path {
                        transition: stroke .3s ease-in-out;
                        stroke: #fff
                    }
                }
            }
        }
    }
}