.maincategory-section {
    &__title {
        padding-top: 320px;
        padding-bottom: 300px;
        object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }
}